[submodule "third_party/SuperGluePretrainedNetwork"]
	path = third_party/SuperGluePretrainedNetwork
	url = https://github.com/magicleap/SuperGluePretrainedNetwork.git
[submodule "third_party/SOLD2"]
	path = third_party/SOLD2
	url = https://github.com/cvg/SOLD2.git
[submodule "third_party/GlueStick"]
	path = third_party/GlueStick
	url = https://github.com/cvg/GlueStick.git
[submodule "third_party/ASpanFormer"]
	path = third_party/ASpanFormer
	url = https://github.com/Vincentqyw/ml-aspanformer.git
[submodule "third_party/TopicFM"]
	path = third_party/TopicFM
	url = https://github.com/Vincentqyw/TopicFM.git
[submodule "third_party/d2net"]
	path = third_party/d2net
	url = https://github.com/Vincentqyw/d2-net.git
[submodule "third_party/r2d2"]
	path = third_party/r2d2
	url = https://github.com/naver/r2d2.git
[submodule "third_party/DKM"]
	path = third_party/DKM
	url = https://github.com/Vincentqyw/DKM.git
[submodule "third_party/ALIKE"]
	path = third_party/ALIKE
	url = https://github.com/Shiaoming/ALIKE.git
[submodule "third_party/LightGlue"]
	path = third_party/LightGlue
	url = https://github.com/cvg/LightGlue.git
[submodule "third_party/SGMNet"]
	path = third_party/SGMNet
	url = https://github.com/vdvchen/SGMNet.git
[submodule "third_party/DarkFeat"]
	path = third_party/DarkFeat
	url = https://github.com/THU-LYJ-Lab/DarkFeat.git
[submodule "third_party/DeDoDe"]
	path = third_party/DeDoDe
	url = https://github.com/Parskatt/DeDoDe.git
[submodule "third_party/RoRD"]
	path = third_party/RoRD
	url = https://github.com/Vincentqyw/RoRD.git
[submodule "third_party/lanet"]
	path = third_party/lanet
	url = https://github.com/agipro/lanet.git
[submodule "third_party/mickey"]
	path = third_party/mickey
	url = https://github.com/agipro/mickey.git
