build/

lib/
bin/

cmake_modules/
cmake-build-debug/
.idea/
.vscode/
*.pyc
flagged
.ipynb_checkpoints
__pycache__
Untitled*
experiments
third_party/REKD
hloc/matchers/dedode.py
gradio_cached_examples
*.mp4
hloc/matchers/quadtree.py
third_party/QuadTreeAttention
desktop.ini
*.egg-info
output.pkl
log.txt
experiments*
gen_example.py
datasets/lines/terrace0.JPG
datasets/lines/terrace1.JPG
datasets/South-Building*
*.pkl
oryx-build-commands.txt
.ruff_cache*
dist
