# docker-compose.yml

services:
  # API
  api:
    build: .
    # Enable NVIDIA GPU access (Docker 19.03+)
    gpus: all
    ports:
      - "8000:8000"
      - "8001:8001"
      - "8265:8265"
    command: python -m imcui.api.server --config imcui/config/api.yaml
    volumes:
      - ./models:/code/models  # Optinal: models
    environment:
      - PYTHONUNBUFFERED=1

  # Web UI
  webui:
    build: .
    # Enable NVIDIA GPU access (Docker 19.03+)
    gpus: all
    ports:
      - "7860:7860"
    command: python app.py --server_port=7860 --server_name=0.0.0.0
    volumes:
      - ./uploads:/code/uploads  # Optinal: some uploads
    environment:
      - PYTHONUNBUFFERED=1

  # enter debug mode
  debug:
    build: .
    ports:
      - "7860:7860"
    gpus: all
    command: sleep infinity
    volumes:
      - ./uploads:/code/uploads  # Optinal: some uploads
    environment:
      - PYTHONUNBUFFERED=1
