# logo
include assets/logo.webp

recursive-include ui *.yaml
recursive-include api *.yaml
recursive-include third_party *.yaml *.cfg *.yml

# ui examples
recursive-include datasets *.JPG *.jpg *.png

# model
recursive-include third_party/SuperGluePretrainedNetwork *.pth
