numpy==1.23.5
tqdm==4.65.0
matplotlib==3.7.1
plotly==5.15.0
scipy==1.11.1
scikit_learn==1.2.2
scikit-image==0.21.0
h5py==3.9.0
pycolmap==0.5.0
gdown==4.7.1
seaborn==0.12.2
pytlsd==0.0.2
tensorboardX==2.6.1
shapely==2.0.1
yacs==0.1.8
loguru==0.7.0
e2cnn==0.2.3
onnxruntime
poselib
