datasets
e2cnn
easydict
einops
fastapi
gdown
gradio
h5py
huggingface_hub
imageio
Jinja2
kornia
loguru
matplotlib<3.9
numpy~=1.26
omegaconf
onnxruntime
opencv-contrib-python
opencv-python
pandas
plotly
poselib
protobuf
psutil
pycolmap
pytlsd  # gluestick, <3.12
pytorch-lightning  #==1.4.9
PyYAML
ray
ray[serve]
roma #dust3r
scikit-image
scikit-learn
scipy
seaborn
shapely
tensorboardX
torchmetrics
torchvision
tqdm
uvicorn
yacs
