numpy==1.23.5
opencv-python==4.6.0.66
tqdm>=4.36.0
matplotlib
plotly
scipy
scikit_learn
scikit-image
h5py
pycolmap>=0.3.0
kornia>=0.6.7
gdown
seaborn
omegaconf
pytlsd
tensorboardX
shapely
yacs
einops
loguru
gradio
./third_party/disk/submodules/torch-localize
./third_party/disk/submodules/torch-dimcheck
./third_party/disk/submodules/unets
